.homepage {
    display: flex;
    padding: 8% 9% 0 5%;
}

.homepage-context {    
    width: 50%;
    padding: 6% 6% 0;
}

.homepage-context h1,p {
    display: grid;
    text-align: left;
}

.homepage-context h1 {
    font-size: 2.9rem;
    margin-bottom: 20px;
    font-family: dark;    
}

.homepage-context p {
    margin-top: 0;   
    font-family: regular;
    letter-spacing: 0.6px;
    font-size: 1rem;
}

.homepage-context p span {
    margin-top: 5px;
}

.homepage-context button {
    cursor: pointer;
    font-size: 1.2rem;
    float: left;
    color: #ffff;
    background-color: #4488c5;
    border: #4488c5;
    border-radius: 10px;
    padding: 12px 27px 13px;
    margin-top: 25px;
    font-family: medium;
    letter-spacing: 1.2px;
}

.shadow-box {
    width: 50%;
    display: relative;
    width: 430px;
    height: 620px;
    background-color: #bfd8ed;
    transform: rotate(-7deg);
    z-index: -1;
}

.homepage-image img {
    width: 100%;
    display: block;    
    transform: rotate(5deg);
    display: absolute;
    top: 0;
    left: -50;
    z-index: 1;
}