#first-gender, #second-gender {
    background-color: #4488C5;
}

#third-gender, #fourth-gender {
    background-color: var(--component-light-gray, #E6E6E6);
}

.inner-h2, .inner-h3, .inner-p, .gender-form {
    text-align: left;
    /* margin-left: 12%; */
    margin: 5% 0 5% 12%;
}

.gender-form label {
    font-size: 1.1rem;
}

.gender-form input {
    font-family: Regular;
    margin: 0 1.5% 5% 0;    
}

.other-input {
    display: inline-flex;
}