.App {
  text-align: center;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  max-height: 1000px;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Dark";
  /*Can be any text*/
  src: local("Santoshi"),
    url("../src/fonts/Satoshi-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  /*Can be any text*/
  src: local("Santoshi"),
    url("../src/fonts/Satoshi-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  /*Can be any text*/
  src: local("Santoshi"),
    url("../src/fonts/Satoshi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  /*Can be any text*/
  src: local("Santoshi"),
    url("../src/fonts/Satoshi-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  /*Can be any text*/
  src: local("Santoshi"),
    url("../src/fonts/Satoshi-Medium.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
